AZURE_DEVOPS_ORG=https://dev.azure.com/DrogariaAraujo
AZURE_DEVOPS_PROJECT=Integração 3.0 - AraujoDigital
AZURE_DEVOPS_TENANT=7b8ced4c-c26f-4d0e-bc15-c4a00d568184
AZURE_DEVOPS_USER_ID=948c76d6-b214-69a4-928d-c3baa326355d
AZURE_DEVOPS_USER_DISPLAY=Andre Martins de Oliveira - Framework
AZURE_DEVOPS_USER_EMAIL=andre.martins.frwk@araujo.com.br
OVERHEAD_WI_ID=220396
AZ_PATH=C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd
